.section-hero__title {
    margin: 0 0 24px 0;
    max-width: 837px;
    font-style: normal;
    font-weight: 800;
    line-height: 85px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}
  